//HEADER

nav {
	background: hsla(360, 15%, 62%, 0.87);
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: center;
	text-weight: bold;
}

.nav-link {
	margin: 5px;
}

.active {
	// color: red;
	border: 2px thick red;
}

.nav-link:hover {
	color: orange;
	
}